*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}
/*---------- ここは仮---------- */
/* header（仮） */
header{
    height: 50px;
    width: 100vw;
    background-color: rgb(247, 210, 255);
}
/* footer（仮） */
footer{
    height: 100px;
    width: 100vw;
    background-color: rgb(143, 255, 249);
}


/*---------- ここからform---------- */

/* form */

#formarea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

.formarea-top, .formarea-group{
    justify-content: center;
    align-items: center;
}

.formarea-top > h1{
    font-size: 30px;
    text-align: center;
}

.formarea-top > p{
    font-size: 15px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.form-name,.form-mail,.form-text,.form-submit{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width: 60vw;
}

.formarea-group > p{
    font-weight: bold;
    margin-top: 10px;
}

.formarea-group > .radio-list{
    justify-content:center;
    align-items: center;
    text-align: center;
}