*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h2{
    font-family: 'EB Garamond', serif;
}
/*--------------------------- */
/*   ここからAbout Us CSS       */
/*---------------------------- */
.section2-h1 {
    /* background-color: cadetblue; */
    border-right: 4px double black;
    writing-mode: vertical-rl;
    text-orientation: upright;
    box-shadow: 2px 0 rgb(143, 255, 249);
    cursor: pointer;
}
.section2-h1 > a {
    color: black;
}

.section2-h1:active {
    box-shadow: none;
    position: relative;
    left: 8px;

}

.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex {
    width: 900px;
    padding: 10% 0;
    /* background-color: pink; */
}

.section2-flex {
    /* padding-top: 15%; */
    /* padding-bottom: 100px; */
    border-bottom: 1px solid black;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

  /* -----------------------chaki--------------------- */
.chaki-h2 {
    font-family: 'EB Garamond', serif;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgb(247, 210, 255);
    /* padding: 30px 0 0; */
    margin-bottom: 40px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.chaki-h2::before,
.chaki-h2::after {
    content: '';
    position: absolute;
    bottom: -3px;
    display: block;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 1s;
}
.chaki-h2::before {
    right: 50%;
}
.chaki-h2::after {
    left: 50%;
}
.chaki-h2:hover::before,
.chaki-h2:hover::after {
    width: 50%;
}

.all {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.chaki-img {
    border-radius: 5px/5px;
}

.chaki-h3 {
    font-size: 1.5em;
}

.chakitem {
    padding: 10% 0;  
}

  /* <!-- --------------------------chakitem -------------------------------------------> */
.iframe {
    width: 700px;
    height: 450px;
    margin-bottom: 10%;
}


/*--------------------------- */
/*   ここからform CSS          */
/*---------------------------- */

#formarea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin:25vh 0;
}

.formarea-top, .formarea-group{
    justify-content: center;
    align-items: center;
}

.formarea-top > h1{
    font-size: 30px;
    text-align: center;
    padding-left: 0vw;
    border-bottom: 4px double black;
    /* writing-mode: vertical-rl; */
    box-shadow: 0 2px rgb(143 255 249);
    cursor: pointer;
}

.formarea-top > p{
    font-size: 15px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.form-name,.form-mail,.form-text,.form-submit{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width: 60vw;
}

.formarea-group > p{
    font-weight: bold;
    margin-top: 10px;
}

.formarea-group > .radio-list{
    justify-content:center;
    align-items: center;
    text-align: center;
}


/*--------------------------- */
/*   ここからworks CSS          */
/*---------------------------- */

#worksarea-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin:25vh 0;
}

.worksarea-top > h1{
    font-size: 30px;
    text-align: center;
    padding-left: 0vw;
    border-bottom: 4px double black;
    /* writing-mode: vertical-rl; */
    box-shadow: 0 2px rgb(143 255 249);
    cursor: pointer;
}


.worksarea-top > p{
    font-size: 15px;
    text-align: center;
    margin: 10px 0 20px 0;
}
.worksarea-groupList{
/**/
}

.worksarea-groupList > h2{
    padding-top: 50px;
    padding-left: 10vw;
}

.gallery{
    display:flex;
    padding: 20px;
}

.gallery-item{
    width: 300px;
    height: 240px;
    padding-bottom: 50px;
    justify-content: center;
    
}
.gallery-item > .effect-scale{
    transition:  .5s;
    border: solid 1px black;
}

.gallery-item > .effect-scale:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transform: translateY(-4px);
}

figcaption > p {
    font-size: 11px;
    color: gray;
    padding-top: 10px;
}

.effect-scale{
    position: relative;
}

.effect-scale > p{
    position: absolute;
    font-size: 10px;
    color:white;
    top: 0;
    left:0
}
.figure-img{
    width: 298px;
    height: 250px;
    object-fit: cover;
    display: block;
}

.gallery-item p:hover{
    /*ssss*/
}
/* ふわっとフェードインするアニメーション */

.fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
}
.fadeIn_up.is-show {
    transform: translate(0, 0);
    opacity: 1;
}

@media screen and (min-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む*/
    #worksarea-container{
        padding: 0;
    }
    .gallery-item{
        margin: 10px 20px;
    }
    .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .worksarea-groupList > h2{
        text-align: center;
        padding-left: 0vw;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む*/
    #worksarea-container{
        padding: 0;
    }
    .gallery-item{
        margin: 10px 20px;
    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 680px;
    }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む*/
    #worksarea-container{
        padding: 0;
    }
    .gallery-item{
        margin: 10px 10px;
    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 960px;
    }
}