*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
}
.body {
  /* background-color: blueviolet; */
  background-image: url("../img/main.jpg");
  /* background-position: ; */
  background-size: cover;
  background-position: no-repeat;
  background-attachment: fixed ;
 
  height: 100vh;
  position: relative;
 }
 /* ヘッダー */
 .m-head-flex {
   background-color: rgb(247, 210, 255);
   padding: 1.2%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 
 .m-head-ul {
   width: 400px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
 }
 
 .m-head-li {
   /* background-color: white; */
   padding: 5px 10px;
 }
 .m-head-a {
   color: black;
 }
 .m-head-a:hover {
   border-bottom: 1px solid rgb(143, 255, 249);
   color: white;
 }
 /* ヘッダー終わり */
 /* メイン */
 .m-section1 {
   /* background-color: aquamarine; */
   font-family: 'Dancing Script', cursive;
   height: calc(100vh - 8vh - 72px);
   padding-left: 15%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: flex-end;
 
   /* position: relative; */
 }
 
 .m-section1-h1 {
   font-family: 'Dancing Script', cursive;
   font-size: 6em;
 }
 
 .m-section1-p {
   font-size: 2em;
 }
 .m-section1-p1 {
   font-size: 2em;
 }
 /* .m-section1-h1 {
   font-family: 'Dancing Script', cursive;
   font-size: 4em;
   position: absolute;
   top: 300px;
   left: 626px;
 }
 
 .m-section1-p {
   font-family: 'Dancing Script', cursive;
   font-size: 2em;
   position: absolute;
   top: 380px;
   left: 540px;
 }
 .m-section1-p1 {
   font-family: 'Dancing Script', cursive;
   font-size: 2em;
   position: absolute;
   top: 417px;
   left: 477px;
 } */
 
 
 /* メイン終わり */
 
 /* footer */
 .m-footer {
   width: 100vw;
   height: 8vh;
   background-color: rgb(143, 255, 249);
   /* padding: .5%; */
   /* margin-top: 30%; */

   position: fixed;
   bottom: 0;
   left: 0;

   display: flex;
   justify-content: center;
   align-items: center;
 }
 .m-footer-p {
   text-align: center;
   padding: 5px 10px;
 }

/* メインカラー
{
  background-color: rgb(247, 210, 255);
  background-color: rgb(143, 255, 249);
} */