*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
}
/* ヘッダー */
.header-flex {
  background-color: rgb(247, 210, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-a {
  color: black;
}
/* ヘッダー終わり */
/* メイン始まり */
.section1 {
  /* background-color: blueviolet; */
  background-image: url("http://placehold.jp/600x300.png");
  /* background-position: ; */
  background-size: cover;
  background-position: no-repeat;
  background-attachment: fixed ;

  height: 90vh;
}
/* -------------------------------------------------------section2 */
.section2 {
  background-color: pink;
  width: 1200px;
  padding: 0 0 2%;
  margin: 0 auto;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.section2-h1 {
  text-align: center;
  padding: 2% 0;
}

.section2-flex {
  display: flex;
  justify-content: space-around;
  
}

.chaki-flex {
  width: 45%;
  background-color: blueviolet;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.chaki-flex2 {
  /* width: 50%; */
  background-color: cadetblue;

  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* -----------------------------------------------section3 */
.section3 {
  background-color: yellowgreen;
  width: 1200px;
  padding: 0 0 2%;
  margin: 0 auto; 
}

.section3-h1 {
  text-align: center;
}

.section3-ul {
  display: flex;
  justify-content: space-around;
}
/* メイン終わり */
/* フッター始まり */
  .footer {
    background-color: aquamarine;
  }
  .footer-p {
    text-align: center;
    padding-top: 2%;
    background-color: rgb(143, 255, 249);
    height: 100px;
  }
/* フッター終わり */

メインカラー
{
  background-color: rgb(247, 210, 255);
  background-color: rgb(143, 255, 249);
}