*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}
/*---------- ここは仮---------- */
/* header（仮） */
/* header{
    height: 50px;
    width: 100vw;
    background-color: rgb(247, 210, 255);
} */
/* footer（仮） */
/* footer{
    height: 100px;
    width: 100vw;
    background-color: rgb(143, 255, 249);
} */


/*---------- ここからworks---------- */
#worksarea-container{
    /**/
}

.worksarea-top > h1{
    font-size: 30px;
    text-align: center;
}


.worksarea-top > p{
    font-size: 15px;
    text-align: center;
    margin: 10px 0 20px 0;
}
.worksarea-groupList{

}

.worksarea-groupList > h2{
    padding-top: 50px;
    padding-left: 10vw;
}

.gallery{
    display:flex;
    padding: 20px;
}

.gallery-item{
    width: 300px;
    height: 240px;
    padding-bottom: 50px;
    justify-content: center;
}
.gallery-item > .effect-scale{
    transition:  .5s;
    border: solid 1px black;
}

.gallery-item > .effect-scale:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transform: translateY(-4px);
}

figcaption > p {
    font-size: 11px;
    color: gray;
    padding-top: 10px;
}

.effect-scale{
    position: relative;
}

.effect-scale > p{
    position: absolute;
    font-size: 10px;
    color:white;
    top: 0;
    left:0
}
.figure-img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.gallery-item p:hover{
        /**/
}
/* ふわっとフェードインするアニメーション */

.fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
}
.fadeIn_up.is-show {
    transform: translate(0, 0);
    opacity: 1;
}

@media screen and (min-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む*/
    #worksarea-container{
        padding: 0;
    }
    .gallery-item{
        margin: 10px 20px;
    }
    .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む*/
    #worksarea-container{
        padding: 0;
    }
    .gallery-item{
        margin: 10px 20px;
    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む*/
    #worksarea-container{
        padding: 0;
    }
    .gallery-item{
        margin: 10px 7px;
    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}